# ==== Robot Hand Geometry Parameters ====
# ========================================
#   finger_width: the width of the finger
#   outer_diameter: the diameter of the robot hand (= maximum aperture + 2 * finger width)
#   hand_depth: the finger length (measured from hand base to finger tip)
#   hand_height: the height of the hand
#   init_bite: the minimum amount of the object to be covered by the hand
# test1 = true
test2 = 2
test3 = 19.0
test5 = test
test6 = -1 1 -1 1 -1 23 9.1